.form-container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
form{
  display: flex;
  align-items: center;
}
form > input{
  width: 600px;
  height: 50px;
  background-color: rgb(23, 17, 17);
  border: solid 2px rgba(250, 211, 211, 0.6);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  color:  rgb(250, 211, 211);
  box-shadow: none;
  outline: none;
}
form > input:hover{
  border:  solid 2px rgb(250, 211, 211);
}
.todo{
  display: flex;
  justify-content: space-around;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 2px;
}
.todo > p{
  width: 600px;
}
.todo:hover{
  padding-bottom: 0px;
  border-bottom: solid 2px rgba(250, 211, 211, 0.6);
}
.title{
  text-align: center;
}

